body{
    background-color: #FAE5BA;
}
.brand:hover{
    color:#438B6A !important;
}
.brand:visited{
    color:#438B6A !important;
}
.text{
    color:#438B6A;
}
.btn{
    border: 0px solid black;
}
.btn:active{
    transform: translateY(4px);
}
.btn-color{
    /* background-color: #FFA630; */
    background: rgba(255, 166, 48, 0.6);
    /* opacity: 0.7; */
    /* color: #438B6A; */
}
.btn-color:hover{
    background: rgba(255, 166, 48, 1);
    /* background-color: #FFA630; */
    opacity: 1;
}
.btn-color:active{
    background: rgba(255, 166, 48, 1);
    transform: translateY(4px);
    border: 0px solid black;
}